body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.page {
    background-color: #fff;
    max-width: 900px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

header {
    background-color: #1a5276;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.photo img {
    border-radius: 10px;
    width: 120px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header .job-title {
    font-size: 1.2rem;
    color: #d1ecf1;
}

.cv-container {
    display: flex;
}

.sidebar {
    background-color: #1a5276;
    color: #fff;
    padding: 20px;
    width: 30%;
}

.sidebar li{
    text-align: center;
    padding: 4px;
}

.sidebar h2 {
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
}

.main-content {
    padding: 20px;
    width: 70%;
}

.section h2 {
    color: #1a5276;
    border-bottom: 2px solid #d1ecf1;
    margin-bottom: 10px;
}

footer {
    background-color: #1a5276;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
