/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

/* Título */
.login h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

/* Etiquetas */
label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

/* Campos de entrada */
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #2e86c1;
    outline: none;
    box-shadow: 0px 0px 5px rgba(46, 134, 193, 0.5);
}

/* Título */
p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.sexoOpciones {
    text-align: center;
}

/* Ocultar los botones de radio */
.sexoOpciones input {
    display: none;
}

/* Estilo de los botones de opción */
.sexoOpcion {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 10px;
}

/* Efecto de selección */
.sexoOpciones input[type="radio"]:checked + .sexoOpcion {
    background-color: #2e86c1;
    color: white;
}

/* Botón */
button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #2e86c1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1a5276;
}

/* Enlaces */
.login a {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    color: #2e86c1;
    text-decoration: none;
    margin-top: 10px;
}

.login a:hover {
    text-decoration: underline;
    color: #1a5276;
}
